# 缓存
__pycache__/
.DS_Store
.local-node/

# uv 虚拟环境
.venv/
uv.lock

# Vite 缓存
frontend/.vite/
frontend/node_modules/
frontend/dist/

# 数据库
*.db

# 日志
*.log

# 报警图片
images/alarms/*
!images/alarms/FORK-003_20260408_003836.png
!images/alarms/MANUAL-TEST_20260408_002811.png

ignore/
.kilo
.kilocode
.vscode
.ruff_cache
AGENTS.MD
